In [3]:
import urllib.request
import ssl
from datetime import datetime


ssl._create_default_https_context = ssl._create_unverified_context

for i in range(1, 28):
    url='https://www.star.nesdis.noaa.gov/smcd/emb/vci/VH/get_TS_admin.php?country=UKR&provinceID={}&year1=1981&year2=2022&type=Mean'.format(i)
    wp = urllib.request.urlopen(url)
    text = wp.read()
    date_and_time_time = datetime.strftime(datetime.now(), "%Y_%m_%d_%H_%M_%S")
    out = open('NOAA_ID'+str(i)+'_'+date_and_time_time+'.csv','wb')
    out.write(text)
    out.close()

In [115]:
import os
import pandas as pd

def concat_df(path):
    d = {1:"Черкаська", 2:"Чернівська", 3:"Чернівецька", 4:"Кримська", 5:"Дніпропетровська", 6:"Донецька", 7:"Івано-Франківська",
        8:"Харківська", 9:"Херсонська", 10:"Хмельницька", 11:"Київська", 12:"Київ", 13:"Кіровоградська", 14:"Луганська",
        15:"Львівська", 16:"Миколаївська", 17:"Одеська", 18:"Полтавська", 19:"Рівенська", 20:"Севастопіль", 21:"Сумська",
        22:"Тернопільська", 23:"Закарпатська", 24:"Вінницька", 25:"Волинська", 26:"Запорізька", 27:"Житомирська"}
    df1 = pd.DataFrame()
    headers = ['Year', 'Week', 'SMN', 'SMT', 'VCI', 'TCI', 'VHI', 'region']
    for i in range(1, 28):
        string = "NOAA_ID{}_".format(i)
        name = [_ for _ in os.listdir(path) if _.startswith(string)]
        df2 = pd.read_csv(name[0], header = 1, names = headers)
        df2 = df2.drop(df2.loc[df2['VHI'] == -1].index)
        df2 = df2.drop(df2.loc[df2["Year"] == "</pre></tt>"].index)
        df2.loc[0, "Year"] = "1982"
        df2.region = d[i]
        df1 = pd.concat([df1, df2], ignore_index=True)
    df1.Year = pd.to_numeric(df1.Year)
    return df1

In [135]:
fileDir = r"C:\Users\maks1\Untitled Folder"
fd = concat_df(fileDir)

In [136]:
def VHI_y_r(df, year, region):
    res_df = df[(df["Year"] == year) & (df["region"] == region)]["VHI"]
    print("Min vaue ",res_df.min(), ", Max value", res_df.max())
    return res_df

def exctreme_dry(df, region):
    res_df = df[(df["region"] == region) & (df["VHI"] < 15)]["Year"]
    return res_df

def moderate_dry(df, region):
    res_df = df[(df["region"] == region) & (df["VHI"] > 15) & (df["VHI"] < 35)]["Year"]
    return res_df

In [139]:
one = VHI_y_r(fd, 2008, "Житомирська")
two = exctreme_dry(fd, "Миколаївська")
three = moderate_dry(df, "Тернопільська")

one

Min vaue  32.91 , Max value 74.22

32021    2007
32022    2007
32023    2007
32024    2007
32025    2007
32026    2007
32027    2007
32028    2007
32029    2007
32030    2007
Name: Year, dtype: int64

In [140]:
two

32021    2007
32022    2007
32023    2007
32024    2007
32025    2007
32026    2007
32027    2007
32028    2007
32029    2007
32030    2007
Name: Year, dtype: int64

In [141]:
three

43055    1982
43056    1982
43057    1982
43058    1982
43059    1982
         ...
44967    2019
44968    2019
44969    2019
44970    2019
44971    2019
Name: Year, Length: 224, dtype: object